/* No CSS */
/* diagnostic styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightblue;
}

button {
  background-color: pink;
  color: darkred;
}

h1{
  font-size: 2.5em;
}